<h1>Search Movies</h1>

<% @movies.each do |movie| %>
  <div>
    <%= movie.title %>
    <%= image_tag "http://image.tmdb.org/t/p/w185//#{movie.poster_path}" %>
    <%= movie.overview %>
    <%= movie.release_date %>
  </div>
<% end %>
