<h1 class="non-card-text">Search for a Movie</h1>
<p class="non-card-text">All movies that contain the words of your submitted search will be returned.</p>

<div class="search-card card">
  <div class="card-header">
  </div>

  <div class="card-block">
    <%= form_tag({controller: "movies", action: "index"}, method: "get") do %>
      <div class="form-group row">
        <%= label_tag(:search, "Search:", class: 'col-2 col-form-label') %>
        <div class="col-10">
          <%= text_field_tag(:search, "Search for a Movie by Title", class: 'form-control') %>
        </div>
      </div>  
      <%= submit_tag("Search", class: 'btn btn-primary btn-block') %>
    <% end %>
  </div>

  <div class="card-footer">
  </div>
</div>