@import "bootstrap";
@import "font-awesome";

.navbar {
  background-color: #d1d1e0;
}

.non-card-text {
  color: #d1d1e0;
}

.page-heading {
  color: #ffe380;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: #29293d;
  background-size: cover;
}

body {
  font-family: 'Cabin Condensed', sans-serif;
}

.content-wrapper {
  max-width: 90%;
  margin: auto;
  margin-top: 40px;
}

.card-header, .card-footer {
  background-color: #d1d1e0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Acme', sans-serif; 
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.card-img {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-text {
  max-width: 90%;
  margin-left: 20px;
}

.movie-card {
  margin-bottom: 20px;
}

.movie-card h6 {
  margin-left: 20px;
}

.nav-icon {
  font-size: 2em;
}